<div id='albums'>
  {{#each albums}}
    <div class='album'>
      <img src='{{images.0.url}}' />
      <div class='album-name'>
        <h2>{{name}}</h2>
      </div>
      <a href='/tracks/{{id}}'><button>View Tracks</button></a>
    </div>
  {{/each}}
</div>